---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
        <a href="/">Home</a>
        <a href="/about/">About</a>
	</head>
	<body>
        
    <p>Bitcoin is a type of cryptocurrency, which is a digital or virtual currency that uses cryptography for security. 
        It was invented in 2008 by an anonymous person or group of people under the name Satoshi Nakamoto and introduced as open-source software in 2009.</p>

</body>
</html>
